/*GENERALES*/
body {
	margin: 0px;
}

.raleway {
	font-family: 'Raleway', sans-serif;
}

.opensans {
	font-family: 'Open Sans', sans-serif;
}

.yellow {
	background-color: #F7B617;
	color: white;
}

.white {
	color: white;
}

.col-xs-12 {
	/*Para el cuadrado de hero - conductor*/
	padding: 0 !important;
}

/*NAVBAR*/

@media (min-width: 768px) {
	nav {
	padding: 2em 4em;
	}
}

@media (max-width: 767px) {
	nav {
	padding-bottom: 1em;
	}
}

.navbar {
		margin-bottom: 0px !important;
		font-size: 16px;
	}

.navbar-nav>li>a {
	color: black !important;
}


/*SECTION HERO*/

h1 {
	font-weight: bolder;
}

#hero {
	background-image: url(../img/img/taxi.jpg);
}

#hero1 {
	float: right;
	padding: 3em;
	margin-top: 8em;
	margin-bottom: 8em;
}

#driver {
	font-weight: bolder;
	color: black !important;
	font-size: 20px;
}

/*SECTION INFORMACIÓN*/

#info {
	padding-top: 2em !important;
	padding-bottom: 2em !important;
}

h2 {
	font-weight: bolder;
}

.parrafo {
	font-size: 22px;
	font-weight: lighter;
}

#info-borde {
	border: 1px solid white;
	padding: 3em;

}

/*SECTION CONDUCE*/
#fondo {
	background-image: url(../img/img/conduce.jpg);
}

#fondo1 {
	height: 400px;
	background-color: rgba(53, 50, 43, 0.2);
	float: right;
	padding: 4em 1em 8em 3em; 
}

#driver2 {
	font-size: 20px;
	border: none;
}

/*SECTION TARIFA*/

#tarifa {
	padding-top: 3em;
	padding-bottom: 3em;
}

#punto-destino, #punto-partida {
	width: 60%;
	display: inline-flex !important;
	background-color: #F7B617 !important;
	margin-top: 1em;
	margin-bottom: 1em; 
}

	/*Para el color del placeholder*/
.form-control::-webkit-input-placeholder { color: white; }
.form-control:-moz-placeholder { color: white; }
.form-control::-moz-placeholder { color: white; }
.form-control:-ms-input-placeholder { color: white; }

	/*Mapa*/
#map {
        height: 400px;
        width: 40%;
        border: 10px solid white;
       }


/*SECTION FOOTER*/
footer {
	background-color: #2B2B2B;
	padding: 6em;
}

a {
	color: white;
	line-height: 40px;
}

#logo-blanco {
	margin-top: 6em !important;
}

#bottom-logos {
	margin-top: 200px;
}

.store {
	margin-top: 10px;
	height: 50px;
	width: 150px;
}
